* {
  padding: 0;
  margin: 0;
}

i {
  vertical-align: sub !important;
}

body {
  background-color: #222;
  color: #d1d1d1;
}

header {
  width: 100%;
  height: auto;
  display: block;
  background-color: #444;
  padding: 30px;
  text-align: center;
  h1 {
    font-size: 18px;
    i {
      color: #008000;
      font-size: 18px;
    }
  }
}
main {
  width: 100%;
  min-height: 90vh;
  display: block;
  .container-md {
    min-width: 200px;
    padding: 30px 20px;
  }
  @media (min-width: 767px) {
    .container-md {
      width: 600px;
    }
  }
  @media (max-width: 766.99px) {
    .container-md {
      width: 100%;
    }
  }
  input {
    background-color: #222 !important;
    color: #fbfbfb !important;
    border: 1px solid #5c5c5c !important;
  }
  #input_add_list,
  #input_add_list::placeholder,
  label {
    font-size: 14px;
  }
  #btn-addToDo {
    font-size: 13px;
  }
  .list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    row-gap: 30px;
    padding-right: 0;
    .list-Data {
      border: 1px dotted #eee;
      padding: 10px;
      position: relative;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        background-color: #adadad;
        color: #3b3b3b;
      }
      i {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        width: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: red;
        transition: all 0.4s;
        &:hover {
          color: #fff;
          background-color: #6b5050;
        }
      }
    }
  }
  #btn-RemoveAll {
    width: 100%;
    height: auto;
    display: block;
    font-size: 14px;
    text-align: center;
  }
  .editMode {
    border: 1px solid #f00;
  }
}
